<div class="container">
    <div class="photo">
        <div class="banner">
        <img src="/assets/about.jpg" >
        </div>
    </div>
    <div class="content">
        <h4>Vehi Services offer a personalised service to our residential clients</h4>
        <p>WWe at wings bike zone provide factory level bike service ,
             we do all kinds of bike tuning for all kinds fuel injected bikes, carburettor bikes , etc...</p>
    </div>
    <div class="content1">
        <h4>We provide the following vehical maintenance services</h4>
        <ul>
            <li class="col-3"><img src="/assets/carspa.jpg"><p>Vehical Spa</p></li>
            <li class="col-3"><img src="/assets/batteries.jpg"><p>Batteries</p></li>
            <li class="col-3"><img src="/assets/Light.jpg"><p>Light & Fitments</p></li>
            <li class="col-3"><img src="/assets/cleaning.jpg"><p>Cleaning & Detailing</p></li>
            <li class="col-3"><img src="/assets/paint.jpg"><p>Denting Painting</p></li>
            <li class="col-3"><img src="/assets/periodic.jpg"><p>periodic Service</p></li>
            <li class="col-3"><img src="/assets/tyre.jpg"><p>Tyres & Wheel Care</p></li>
            <li class="col-3"><img src="/assets/glass.jpg"><p>Glass & Custom Service</p></li>
        </ul>
    </div>
    <div class="list">
        <h4>Vehi Services for all your commercial maintenance services needs</h4>
        <ul>
            <li><i class="bi bi-check-lg"></i>  Teamwork through Trust and Respect.</li>
            <li><i class="bi bi-check-lg"></i>  Commitment to Customer Enthusiasm. </li>
            <li><i class="bi bi-check-lg"></i>  Accountability at all Levels.</li>
            <li><i class="bi bi-check-lg"></i>  Passion for Winning.</li>
            <li><i class="bi bi-check-lg"></i>  Clients satisfaction is our priority and we offer regular reviews as part of our service.</li>
        </ul>

    </div>
    <div class="contact">
        <p >Contact us TODAY for a FREE QUOTE to service your vehical. <button class="btn btn-danger" (click)="goToContact()">Contact Me</button></p>
    </div>
<div>
