<div class="container">
    <div class="Logo">
        <img src="/assets/mechaniclogo.png">
        <h3 class="logo-name">Vehi <span>Service</span></h3>
    </div>
    <div class="nav-bar">
        <ul>
            <li routerLinkActive="active" >
                <a routerLink="/Home" skipLocationChange="true" >Home</a>
            </li>
            <li routerLinkActive="active"  >
                <a routerLink="/residential" skipLocationChange="true" >Services</a>
            </li>
            <li routerLinkActive="active" >
                <a routerLink="/commercial" skipLocationChange="true">About</a>
            </li>
            <li routerLinkActive="active" >
                <a routerLink="/sustainable" skipLocationChange="true">Testimonial</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/contact" skipLocationChange="true" >Contact</a>
            </li>
        </ul>
    </div>


