<div class="container">
    <div class="photo">
        <div class="banner">
        <img src="/assets/price.jpg" >
        </div>
    </div>
    <div class="content">
        <h4>We do work on all brands of bike ranges from 50cc to 1600cc</h4>
        <p>We at Vehi Services provide factory level bike service.
             We are specialized in circuit racing motorcyles and We define racing..
              Which include Engine Modification, service, tuning, performance Alteration, Painting, Repairs etc...</p>
    </div>
    <div class="content1">
        <ul>
            <li class="col-md-4">
                <h4>Pravin</h4>
                <p>Good technologies used for monitoring the status & stages of repaired activities. Overall free pick-up & nice delivery.</p>
            </li>
            <li class="col-md-4">
                <h4>Surya</h4>
                <p>"Awesome experience, really good service. Best place for getting good bike service and also to improve them for performance</p>
            </li>
            <li class="col-md-4">
                <h4>Bala</h4>
                <p>"The Best" place to get your bike converted to a track machines for absolute performance and power on racing track</p>
            </li>
    </ul>
    </div>
    <div class="contact">
        <p >Contact us TODAY for a FREE QUOTE to service your vehical. <button class="btn btn-danger" (click)="goToContact()">Contact Me</button></p>
    </div>
<div>