<div class="container">
    <div class="photo">
        <div class="banner">
        <img src="/assets/home1.jpg" >
        <p col-12><span>Vehi Service </span>will take care of your vehical</p>
        </div>
    </div>
  <div class="content">
        <p>A tech-driven multi-brand car service platform, VehicleCare simplifies car servicing through clever and cost-effective solutions.</p>
     <p>The Vehi Service Care nexus thrives on innovation and strives to bring quality, transparency, and reliability, the three pillars that undergird its business model. </p>
        <p><span>Gardening World Services </span>Owing to a motley of experts and state of the art equipments, we provide a host of services ranging from the biggest overhauls to the minutest tuning. Our business presence spans across India with workshops in Delhi, Noida, Gurgaon, Jaipur, Chennai, Ahmedabad, Lucknow, Bengaluru, Hyderabad, Jhansi, Mumbai, Chandigarh, Faridabad, and Pune.</p>
  </div>
    <div class="contact">
        <p >Contact us TODAY for a FREE QUOTE to service your vehical. <button class="btn btn-danger" (click)="goToContact()">Contact Me</button></p>
    </div>
    <div class="content1">
        <h4>We provide the following vehical maintenance services </h4>
        <ul>
            <li class="col-3"><img src="/assets/carspa.jpg"><p>Vehical Spa</p></li>
            <li class="col-3"><img src="/assets/batteries.jpg"><p>Batteries</p></li>
            <li class="col-3"><img src="/assets/Light.jpg"><p>Light & Fitments</p></li>
            <li class="col-3"><img src="/assets/cleaning.jpg"><p>Cleaning & Detailing</p></li>
            <li class="col-3"><img src="/assets/paint.jpg"><p>Denting Painting</p></li>
            <li class="col-3"><img src="/assets/periodic.jpg"><p>periodic Service</p></li>
            <li class="col-3"><img src="/assets/tyre.jpg"><p>Tyres & Wheel Care</p></li>
            <li class="col-3"><img src="/assets/glass.jpg"><p>Glass & Custom Service</p></li>
        </ul>
    </div>
    <div class="content2">
        <h4>We work with all makes and models of vehicles</h4>
        <ul>
            <li class="col-md-3"><img src="/assets/yamaha.png"></li>
            <li class="col-md-3"><img src="/assets/Honda.png"></li>
            <li class="col-md-3"><img src="/assets/KTM.png"></li>
            <li class="col-md-3"><img src="/assets/bmw.png"></li>
            <li class="col-md-3"><img src="/assets/Hd.png"></li>
            <li class="col-md-3"><img src="/assets/toyo.png"></li>
            <li class="col-md-3"><img src="/assets/re.png"></li>
            <li class="col-md-3"><img src="/assets/mg.png"></li>
            
        </ul>
    </div>
</div>
