<div class="container">
    <div class="photo">
        <div class="banner">
        <img src="/assets/services.jpg" >
        </div>
    </div>
    <div class="content">
        <h4>Vehi Services offer a personalised service to our clients</h4>
        <p>We at Vehi Services provide factory level bike service ,
             we do all kinds of bike tuning for all kinds fuel injected bikes, carburettor bikes , etc...
             Our tuning service include categories for performance, power, mileage, torque, pickup, speed and much more</p>
    </div>
    <div class="content1">
        <ul>
            <li class="col-md-4">
                <img src="/assets/diag.jpg">
                <h5>VEHICLE DIAGNOSTIC</h5>
                <p>Let us help you understand any fault codes you may be experiencing with your vehicle.</p>
            </li>
            <li class="col-md-4">
                <img src="/assets/wheel.jpg">
                <h5>WHEEL BALANCING</h5>
                <p>Our wheel balancing procedure checks for any heavy spots on the wheel-tyre combination and compensating for it.</p>
            </li>
            <li class="col-md-4">
                <img src="/assets/battery.jpg">
                <h5>BATTERY FITTING</h5>
                <p>Setup of replacement battery for vehicles fitted with stop/start technology.</p>
            </li>
            <li class="col-md-4">
                <img src="/assets/brake.jpg">
                <h5>BRAKE SERVICING</h5>
                <p>It's vital that you get the entire brakes system checked regularly to ensure your safe driving.</p>
            </li>
            <li class="col-md-4">
                <img src="/assets/tuning.jpg">
                <h5>BIKE TUNING</h5>
                <p>Its all about converting your bike like a mean bike for optimized performance for street or track</p>
            </li>
            <li class="col-md-4">
                <img src="/assets/oil.jpg">
                <h5>OIL CHANGING</h5>
                <p>This isn't just an oil change; it's preventive maintenance to help keep your vehicle running good.</p>
            </li>
        </ul>

    </div>
    <div class="contact">
        <p >Contact us TODAY for a FREE QUOTE to service your vehical.<button class="btn btn-danger" (click)="goToContact()">Contact Me</button></p>
    </div>
<diV>